@import 'variables'

/* General
*
    font-family: 'Roboto', sans-serif
    font-weight: $font-weight-regular
    
body
    background-color: $background-color

/* Utilities
.primary-color
    color: $primary-color

.secondary-color
    color: $secondary-color

.light-color
    color: $light-color

.dark-color
    color: $dark-color
